<% provide(:customCSS, "home") %>

<div id="sec1" class="sections">
    <div id="sec1Container">
        <div id="sec1Icon">
          <img src="assets/blueTree.png" alt="Main Tree Image" />
        </div>
        <div>
            <p class="sec1Text">glintpod</p>
            <p class="sec1Text small">an exciting mobile technology in progress ...</p>
        </div>
    </div>
  <div id="dnArrow1" class="dnArrow">
    <img src="assets/arrowDn.png" alt="down Arrow" />
  </div>
</div>


<div id="sec2" class="sections">
  <div class="lhs">
    <img class="lhsImages rotateImages" src="assets/grill.png" alt="grill Image"/>
    <img class="lhsImages rotateImages" src="assets/cup.png" alt="cup Image" />
    <img class="lhsImages rotateImages" src="assets/seafood.png" alt="seafood Image" />
  </div>
  <div class="rhs">
    <div class="rhsTextBox">
        <p class="text">Imagine you are in your favorite fast food restaurant
        and you order food without
        standing in line !</p>
    </div>
  </div>
  <div class="dnArrow">
    <img src="assets/arrowDn.png" alt="down Arrow" />
  </div>

</div>


<div id="sec3" class="sections">
  <div class="FullPicSection">
    <img class="centerImage" src="assets/barblur1440x961.jpg" alt="bar Image"/>
  </div>
  <div class="centerTextBox">
      <p class="text white">You are in a sports bar, but you are far away from Live TV.
        Wouldn't it be cool if the TV just came a bit closer to you?</p>
  </div>
  <div  class="dnArrow">
    <img src="assets/arrowDn.png" alt="down Arrow" />
  </div>
</div>


<div id="sec4" class="sections">
  <div class="fixedTopTextBox">
    <p class="text">All your loyalty programs recognized instantaneously and automatically.
      You need Customer Service? It is right in your hands.
    </p>
  </div>
  <div class="iconSet">
    <div id="icon1of4Box"><img class="iconSize" src="assets/rewards1.png" alt="rewards1 image"></div>
    <div id="icon2of4Box"><img class="iconSize" src="assets/rewards2.png" alt="rewards2 image"></div>
    <div id="icon3of4Box"><img class="iconSize" src="assets/rewards3.png" alt="rewards3 image"></div>
    <div id="icon4of4Box"><img class="iconSize" src="assets/customer1.png" alt="customer1 image"></div>
  </div>
  <div class="dnArrow">
    <img src="assets/arrowDn.png" alt="down Arrow" />
  </div>
</div>

<div id="sec5" class="sections">
  <div class="leftTopCorner">
    <p>This is just a start..</p>
  </div>
  <div class="rightBottomCorner">
    <p>Expect the amazing !!!</p>
  </div>
  <div class="centerImage centerImageSmall">
    <img  class= "iconSize2" src="assets/amazing1.png">
  </div>
  <div id="dnArrow5" class="dnArrow">
    <img src="assets/arrowUp.png" alt="down Arrow" />
  </div>
</div>


<div id="sec6" class="secFooter"></div>


