<% provide(:customCSS, "home") %>

<div id="sec1" class="sections">
    <div id="sec1Container">
        <div id="sec1Icon">
          <img src="assets/blueTree.png" alt="Main Tree Image" />
        </div>
        <div>
            <p class="sec1Text">glintpod</p>
            <p class="sec1Text small">an amazing mobile technology in progress !!</p>
        </div>
    </div>
  <div id="dnArrow1" class="dnArrow">
    <img src="assets/arrowDn.png" alt="down Arrow" />
  </div>
</div>

<div id="sec2" class="sections"></div>

<div id="sec3" class="sections"></div>




<!--
<div class="bandDiv">
  <ul class="bandUl">
    <li class="bandLi"> <%=link_to 'Home', '#' %></li>
    <li class="bandLi"><%=link_to 'Product', '#' %></li>
    <li class="bandLi"><%=link_to 'Team', '#' %></li>
    <li class="bandLi"><%=link_to 'Contact Us', '#' %></li>
  </ul>
</div>


<div class="imgCaption">
  <h1>GlintPod</h1>
  <h1>An exciting mobile technology in works !!</h1>
</div>

<div class="imgContainer1">
  <img id="sec1Img2" class="images" src="assets/molecule.jpg" alt="Cup Image" />
  <img id="sec1Img2" class="images" src="assets/houseBlur1440x960.jpg" alt="Cup Image" />
  <img id="sec1Img2" class="images" src="assets/frozen.jpg" alt="Cup Image" />
  <img id="sec1Img2" class="images" src="assets/lostcatBlur1440x960.jpg" alt="Cup Image" />
</div>
-->
